* {
  margin: 0;
  padding: 0;
}

.centre {
  margin: auto;
  width: 400px;
  height: 800px;
}

.playerCard {
  border: 1px solid black;
  height: 60px;
}

.playerCard .index,
.name,
.points {
  display: inline-block;
  padding: 20px;
}

.points {
  margin-left: 20px;
}

.playerCard img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 90px;
  margin-top: 10px;
}
